body {
  background: #0f0f1a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
}

a {
  color: white;
  background: purple;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}
